SPTMod/obj
SPTMod/bin
SPTMod/Properties
SPTMod/.vs/BorkelRNVG-4.0-User/CopilotIndices
SPTMod/.vs/BorkelRNVG-4.0-User/FileContentIndex
SPTMod/.vs/BorkelRNVG-4.0-User/v17
BepInExPlugin/Properties
.vs
BepInExPlugin/bin
BepInExPlugin/obj
